# Mis
io
re

# Web Framework
fastapi
fastapi uvicorn
streamlit 

# Core Data Science
numpy
pandas
scikit-learn
scipy
statsmodels
joblib
xgboost

# Visualization
matplotlib
seaborn
plotly
base64

# Data Handling / APIs
requests