# Web Framework
fastapi
uvicorn
streamlit 

# Core Data Science
numpy
pandas
scikit-learn
scipy
statsmodels
joblib
xgboost
torch
transformers

# Visualization
matplotlib
seaborn
plotly

# Data Handling / APIs
requests